@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

h1,h3 {
  text-align: left;
  margin: 0;
  font-size: 5vw;
  
  font-family: 'Rubik', sans-serif;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh;
}
